﻿
@{
    ViewData["Title"] = "Index String";
}
﻿<!DOCTYPE html>
<html lang="fr-ca">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ma page de test</title>
</head>
<body>
    <h1>
        Bienvenue dans ma première application MVC
    </h1>
</body>
</html>
